
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="bg-img" style="background: url('assets/Fondo.jpg'); background-size: 100% 100%;">
    <div class="content" style="background: rgba(255, 255, 255, 0.9);">
      <header style="color: #000;">Inicio de Sesión</header>
      <form [formGroup]="formGroupParent">
        <div class="row">
          <div class="col-sm">
            <mat-form-field appearance="fill" style="width: 100%;">
              <mat-label>Usuario</mat-label>
              <input matInput placeholder="Usuario" [formControlName]="'usuario'" maxlength="50">
            </mat-form-field>
          </div>
          <div class="col-sm">
            <mat-form-field appearance="fill" style="width: 100%;">
              <mat-label>Contraseña</mat-label>
              <input matInput [type]="hide ? 'password' : 'text'" placeholder="Contraseña" [formControlName]="'contrasena'" maxlength="50" #textComponent>
              <mat-icon matSuffix (click)="hide = !hide"
                  style="cursor: pointer">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </mat-form-field>
          </div>
        </div>
        <!--div class="pass">
          <a href="#">Has olvidado tu contraseña?</a>
        </!--div-->
        <br><br>
        <div class="field">
          <input type="submit" (click)="iniciarSesion()" value="INICIAR">
        </div>
      </form>
      <div class="login" style="color: #000;">Navegadores Disponibles
      </div>
      <div class="links">
        <div class="facebook">
          <img src="assets/Chrome.png" style="width: 40px; height: 40px;">
        </div>
        <div class="">
          <img src="assets/Edge.png" style="width: 40px; height: 40px;">
        </div>
      </div><hr  width=45% size=8 class="center">
      <!--div class="signup">No tienes cuenta?
        <a (click)="openDialog('1600ms', '1000ms')">Regístrate ahora</a>
      </!--div-->
    </div>
  </div>
</body>
<p-toast></p-toast>
</html>

<!--button mat-raised-button color="primary" (click)="pruebaRot()" >Accent</!--button>
<button mat-raised-button color="accent" (click)="showSuccess()">Accent</button>
<form class="example-form">
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Favorite food</mat-label>
    <input matInput placeholder="Ex. Pizza" value="Sushi">
  </mat-form-field>

  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Leave a comment</mat-label>
    <textarea matInput placeholder="Ex. It makes me feel..."></textarea>
  </mat-form-field>
</form>

<mat-form-field appearance="outline">
  <mat-label>Select an option</mat-label>
  <mat-select >
    <mat-option>None</mat-option>
    <mat-option value="option1">Option 1</mat-option>
    <mat-option value="option2">Option 2</mat-option>
    <mat-option value="option3">Option 3</mat-option>
  </mat-select>
</mat-form-field>
<button mat-raised-button (click)="openDialog('0ms', '0ms')">Open dialog without animation</button>
<button-- mat-raised-button (click)="openDialog('3000ms', '1500ms')">Open dialog slowly</button-->
